<div class="d-flex justify-content-between align-items-baseline">
  <h1>Planning</h1>

</div>

<%= week_calendar(events: @tasks, end_attribute: :end_date) do |date, tasks| %>
  <%= date %>

    <% tasks.each do |task| %>
    <div class="meeting">  <-- We will add some style to the meeting class later so let's add it now -->
      <p><%= task.name %></p>
    </div>
  <% end %>
<% end %>
