<div class="d-flex justify-content-between mt-5">
  <h3>Pièces en rénovation</h3>
  <button type="button" class="btn-show-room" data-bs-toggle="modal" data-bs-target="#addroom">Ajouter une pièce</button>
</div>

<div class="cards-rooms">
  <% @rooms.each do |room| %>
    <%= render "shared/room_card_small", project: @project, room: room %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="addroom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Créer ma pièce</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <%= render "rooms/form", project: @project, room: @room %>
      </div>
    </div>
  </div>
</div>
