<div class="container">
  <div class="hero py-5">
    <h1>Suivez simplement et sereinement<br>vos projets de rénovation</h1>
    <div class="py-3 d-flex justify-content-center">
      <% if user_signed_in? %>
      <% else %>
        <button type="button" class="btn btn-user btn-blue mx-3">Je suis un particulier</button>
        <button type="button" class="btn btn-user btn-gray">Je suis un professionnel</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1575517111478-7f6afd0973db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGhvdXNlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-carousel w-100 shadow-lg" alt="...">
      </div>
    </div>
    <div class="col-4">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1575517111478-7f6afd0973db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGhvdXNlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-carousel w-100 shadow-lg" alt="...">
      </div>
    </div>
    <div class="col-4">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aG91c2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class=" card-carousel w-100 shadow-lg" alt="...">
      </div>
    </div>
  </div>

  <%#= render "testimonials" %>


</div>
