<div class="bg-home">
  <div class="container">
    <div class="hero py-5">
      <h1>Suivez simplement et sereinement<br>vos projets de rénovation</h1>
      <div class="py-3 d-flex justify-content-center">
        <% if user_signed_in? %>
          <%= link_to dashboard_path, class: 'link-card' do %>
            <button type="button" class="btn btn-user btn-gradient">Accéder à mon tableau de bord</button>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-user btn-blue mx-3">Je suis un particulier</button>
          <button type="button" class="btn btn-user btn-gray">Je suis un professionnel</button>
        <% end %>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-4">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1575517111478-7f6afd0973db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGhvdXNlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-carousel w-100 shadow-lg rounded-4" alt="...">
        </div>
      </div>
      <div class="col-4">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1605276374104-dee2a0ed3cd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-carousel w-100 shadow-lg rounded-4" alt="...">
        </div>
      </div>
      <div class="col-4">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aG91c2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class=" card-carousel w-100 shadow-lg rounded-4" alt="...">
        </div>
      </div>
    </div>
    <div class="container py-2">
      <div class="row featurette">
          <div class="col-md-7 d-flex flex-column justify-content-center">
            <h2 class="featurette-heading">Rénovez sans peur. <span class="text-muted">Suivez facilement votre rénovation.</span></h2>
            <p class="lead">Gardez toujours un oeil sur l'évolution de votre projet.</p>
          </div>
          <div class="col-md-5">
            <div>
              <%= image_tag "Feature_1.png", class:"image-hero" %>
            </div>
          </div>
        </div>



        <div class="row featurette">
          <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center">
            <h2 class="featurette-heading ps-5">Coordonnez facilement votre équipe. <span class="text-muted">Planifiez vous-même les interventions.</span></h2>
            <p class="lead ps-5">Sélectionner les meilleurs artisans pour votre projet et ayez un suivi sans faille du début à la fin de votre projet.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <div class="">
              <%= image_tag "Feature_3.png" %>
            </div>
          </div>
        </div>


        <div class="row featurette">
          <div class="col-md-7 d-flex flex-column justify-content-center">
            <h2 class="featurette-heading">Gardez le contrôle. <span class="text-muted">Toujours un oeil sur votre budget.</span></h2>
            <p class="lead">Depuis votretableau de bord, gérez simplement et en toute sécurité chaque étape de votre projet : devis en ligne, signature électronique et paiement sécurisés.</p>
          </div>
          <div class="col-md-5">
            <div>
              <%= image_tag "Feature_1.png", class:"image-hero" %>
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden p-3 p-md-5 bg-dark text-center demo-day">
      <div class="col-md-6 p-lg-6 mx-auto my-5">
        <h1 class="display-4 fw-normal">Demo Day</h1>
        <p class="lead fw-normal">Encore quelques secondes avant le grand dévoilement.</p>
        <a class="btn btn-user btn-gradient" href="#">Ouvrez grand vos yeux 🍿</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>



    <%#= render "testimonials" %>


  </div>
</div>
