.btn-user {
  box-shadow: 0px 1px 3px rgba(25, 32, 44, 0.04);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #F4F4F4;
}

.btn-gray {
  background: $gray;
}

.btn-blue {
  background: $blue;
}

.btn-black {
  color: white;
  font-size: larger;
  text-decoration: none;
  background: $project-black;
  border-radius: 4px;
  padding: 12px 40px;

  &:hover {
    background-color: $purple-white;
  }
}

.btn-show-room {
  background: $purple-dark;
  border-radius: 4px;
  color: white;
  margin: 10px;
  padding: 3px 12px;
  text-decoration: none;

  &:hover {
    background-color: $purple-white;
  }
}
