.btn-user {
  box-shadow: 0px 1px 3px rgba(25, 32, 44, 0.04);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #F4F4F4;
}

.btn-gray {
  background: $gray;
}

.btn-blue {
  background: $blue;
}

.btn-gradient {
  background-color: #d04143;
  background-image: linear-gradient(318deg, #d04143 0%, #C850C0 100%);
  border: transparent;
}

.btn-gradient:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #d04143;
  background-image: linear-gradient(318deg, #d04143 0%, #C850C0 100%);
  color: white;
}


.btn-black {
  color: white;
  font-size: larger;
  text-decoration: none;
  background: $project-black;
  border-radius: 4px;
  padding: 12px 40px;

  &:hover {
    background-color: $purple-white;
  }
}

.btn-show-room {
  background: $purple-dark;
  border-radius: 4px;
  color: white;
  margin: 10px;
  padding: 3px 12px;
  text-decoration: none;

  &:hover {
    background-color: $gray;
    color: white;
  }
}

.btn-show-room-back {
  background: none;
  color: gray;
  margin: 10px;
  padding: 3px 12px;
  text-decoration: none;
  border: 0 solid;

  &:hover {
    color: black;
  }

}

body.dark .btn-show-room-back {
  background: none;
  color: gray;
  margin: 10px;
  padding: 3px 12px;
  text-decoration: none;
  border: 0 solid;

  &:hover {
    color: white;
  }

}

.btn-link {
  color: gray;
  text-decoration: none;
  padding: 0;

  &:hover {
    color: #6366F1;
    text-decoration: none;
  }

}

.btn-primary {
  background: #6366F1;
  box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 4px;
  color: white;
  border: transparent;

  &:hover {
    background-color: #5A5CDB;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.btn-delete {
  background-color: transparent;
  color: $red;
  border: transparent;

  &:hover {
    background-color: $red;
    border: transparent;
    color: white;
  }

  &:visited {
    border: transparent;
  }
}

body.dark .btn-close {
  color: $medium-gray;
}

.btn-select {
  background-color: transparent;

  &:hover {
    border: transparent;
  }

  &:visited {
    border: transparent;
  }
}

.dropdown-toggle .dropdown-toggle-split .show {
  &:active {
    border-color: transparent;
  }

  &:focus {
    border-color: transparent;
  }

}

.btn-empty {
  padding: 6px 16px;
  background: #222127;
  border: 1px solid #5C5A66;
  border-radius: 4px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #222127;
    color: white;
    border-color: transparent;
  }
}

.btn-pro {
  background: transparent;
  border: transparent;
  color: $medium-gray;
  margin-bottom: 8px;

  &:hover {
    color: $dark-gray;
  }
}

body.dark .btn-pro {
  background: transparent;
  border: transparent;
  color: $medium-gray;
  margin-bottom: 8px;

  &:hover {
    color: white;
  }
}

.btn-transparent {
  border: transparent;
  background-color: transparent;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  border-color: transparent;
  color: $medium-gray;
}

.btn-primary {
  background: #6366F1;
  box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 4px;

  color: white;
  border: transparent;

  &:hover {
    background-color: #5A5CDB;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.btn-google {
  background: #F43F5E;
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
  border: transparent;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #F43F5E;
    border: transparent;
    color: white;
  }
}


hr {
  border-top: 1px solid $medium-gray;
  width: 35%;
}
