.simple-calendar {
  table {
    min-height: 80vh;
    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    border: transparent;
  }

  thead, tbody, tfoot, tr, td, th {
    border: transparent;
  }


  .today {
    border-top: 2px solid #0EA5E9;
    background-color: transparent;
  }
}

body.dark .simple-calendar {
  table {
    background-color: $dark-gray;
  }

  thead {
    color: white;
  }

  .today {
    background-color: transparent;
  }
}


.meeting-card {
  padding: 4px 6px 4px 6px;
  background-color: white;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin: 4px;
}

.meeting-card:hover {
  background: $project-blue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

.day-date {
  background-color: black;
  border-radius: 50%;
  color: white;
}

body.dark .meeting-card {
  background: $dark-card;

  &:hover {
    background: $project-blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
  }
}



.day {}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {

}

.btn-calendar {
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 4px;
  box-sizing: border-box;
  color: $project-blue;

  &:hover {
    background: $project-blue;
    color: white;
  }
}

body.dark .btn-calendar {
  background: $dark-gray;
  color: $project-blue;
  border: transparent;

  &:hover {
    background: $project-blue;
    color: white;
  }
}

.next-month { }
.current-month {}

.has-events {}


.meeting-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #1E293B;
}

body.dark .meeting-title {
  color: white;
}
