.simple-calendar {
  table {
    min-height: 80vh;
    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    border: transparent;
  }

  thead, tbody, tfoot, tr, td, th {
    border: transparent;
  }


  .today {
    background-color: #0EA5E9;
  }
}

body.dark .simple-calendar {
  table {
    background-color: $dark-gray;
  }

  thead {
    color: white;
  }

  .today {
    background-color: $dark-card;
  }
}

.badge-calendar {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
}

body.dark .badge-calendar {
  background-color: $green;
  color: black;
}

.meeting-card {
  color: white;
  padding: 4px 8px;
  background: #0EA5E9;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin: 4px;
}

.meeting-card:hover {
  background: $project-blue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.day-date {
  background-color: black;
  border-radius: 50%;
  color: white;
}

body.dark .meeting-card {
  background: $dark-card;
}

.day {}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {

}

.btn-calendar {
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 4px;
  box-sizing: border-box;
  color: $project-blue;

  &:hover {
    background: $project-blue;
    color: white;
  }
}

body.dark .btn-calendar {
  background: $dark-gray;
  color: $project-blue;
  border: transparent;

  &:hover {
    background: $project-blue;
    color: white;
  }
}

.next-month { }
.current-month {}

.has-events {}
