.card-params {
  padding: 0px;
  height: 300px;
  border-radius: 0px 16px 16px 0px;
}

.img-size {
  background-size: cover;
  background-position: bottom;
}

.img-hero {
  background-size: cover;
  background-position: bottom;
  border-radius: 16px 0 0px 16px;
}

body.dark .card-params {
  background-color: $dark-card;
}

.card-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2 solid;
  border-radius: 6px;
  border-color: gray;
}

.cards-rooms {
  display: grid;
  padding: 0px;
  gap: 88px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-room {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 313px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.card-room-img {
  background: url('https://images.unsplash.com/photo-1600607686527-6fb886090705?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8a2l0Y2hlbnxlbnwwfDF8MHx8&auto=format&fit=crop&w=800&q=60');
  border-radius: 8px 8px 0px 0px;
  height: 313px;
  width: 313px;
  object-fit: cover;
}

.card-room-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

body.dark .card-room {
  color: --darkColor;
  border: 1px solid $dark-gray;
  background-color: $dark-card;
}

.card-project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 353px;
  background: #FFFFFF;
  border: 1px solid #EAECEE;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;

  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}

.card-project:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body.dark .card-project {
  background: $dark-gray;
  border: 1px solid $dark-gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

body.dark .card-project:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card-project img {
  border-radius: 8px;
  height: 220px;
  object-fit: cover;
}

.link-card {
  text-decoration: none;
  color: $gray;
}

.link-card:hover {
  text-decoration: none;
  color: $gray;
}

body.dark .link-card {
  text-decoration: none;
  color: white;
}

.professional-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-pro {
  background: white;
  border: 2px solid #5C5A66;
  border-radius: 8px;
  color: $dark-gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-pro:hover {
  background: white;
  border: 2px solid #5C5A66;
  border-radius: 8px;
  color: $dark-gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body.dark .card-pro {
  background: #222127;
  border: 2px solid #5C5A66;
  border-radius: 8px;
  color: white;
}

body.dark .card-pro:hover {
  background: #222127;
  border: 2px solid #5C5A66;
  border-radius: 8px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-pro-content {
  width: 100%;
  border: transparent;
  background-color: transparent;
  color: $dark-gray;
}

body.dark .card-pro-content {
  color: white;
}


.card-user {
  background-color: white;
  border-radius: 6px;
  padding: 16px;
}

body.dark .card-user {
  background-color: $dark-gray;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

.card-pieces {
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 30px 20px;
}

body.dark .card-pieces {
  background-color: $dark-gray;
}

.card-task-row {
  padding: 20px;
  margin: 15px 0;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 4px 6px -1px rgba(15, 23, 42, 0.08);
  border-radius: 4px;

  .task-title {
    margin-bottom: 0rem;
  }

  .task-badge {
    padding: 2px 8px;
    background: #1C1C28;
    border: 1px solid #393953;
    border-radius: 8px;
    color: white;
    font-size: 12px;
  }
}
