.contact-item {
  background-color: white;
  border-radius: 8px;
  align-items: center;
  margin-top: 16px;
  padding: 12px;

}

.last-message {
  font-size: 12px;
  padding: 8px 16px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: $medium-gray;
}
