.dropdown-menu {
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-item:hover {
  font-weight: 500px;
}

body.dark .dropdown {
  background-color: #393953;
  border-color: $dark-gray;
}

body.dark .dropdown-menu {
  background-color: #393953;
}

body.dark .dropdown-item {
  color: white;
}

body.dark .dropdown-item:hover {
  background-color: $dark-gray;
}
