.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 20%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}


#room_room_type_salon + label {
  color: #0E0000;
}

#room_room_type_salon:checked + label {
  background-color: $purple-dark;
  border-color: $purple-dark;
}


#room_room_type_chambre + label {
  color: #0E0000;
}

#room_room_type_chambre:checked + label {
  background-color: $purple-dark;
  border-color: $purple-dark;
}


#room_room_type_salle_de_bains_ou_toilettes + label {
  color: #0E0000;
}

#room_room_type_salle_de_bains_ou_toilettes:checked + label {
  background-color: $purple-dark;
  border-color: $purple-dark;
}

#room_room_type_cuisine + label {
  color: #0E0000;
}

#room_room_type_cuisine:checked + label {
  background-color: $purple-dark;
  border-color: $purple-dark;
}

.label {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #475569;
}

.form-control  {
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 4px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
}

.col-form-label {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #475569;
}

.progress-bar {
  background-color: #d04143;
  background-image: linear-gradient(318deg, #d04143 0%, #C850C0 100%);
}
