.header {
  background-color: white;
}

body.dark .header {
    color: var(--darkColor);
    background-color: $dark-gray
}

.container-header {
  padding-top: 130px;
}

.container-header-dashboard {
  padding-top: 100px;
  padding-bottom: 8px;
}

.header-project {
  height: 70px;
  img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 16px;
  }
}

.container-new {
  padding-top: 96px;
}
