.modal-content {
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body.dark .modal-content {
  background-color: $dark-gray;
  color: white;
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}
