.navbar-lewagon {
  justify-content: space-between;
  padding-top: 16px;
  display: flex;

}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #666666;
}
