.container-nav {
  width: 100%;
}


.navbar-lewagon {
  justify-content: space-between;
  padding-top: 16px;
  display: flex;
  z-index: 20;
  position: absolute;

  padding-left: 64px;
  padding-right: 64px;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #666666;
}

body.dark .nav-item {
  color: white;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px 4px 20px;
  gap: 12px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 48px;
}

body.dark .nav-link {
  color: #88888A;
}
