.img-signup {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 110vh;
  margin: 8px;
  width: auto;
}

.img-login {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 100%;
  margin: 8px;
  object-fit: cover;
  width: 100%;
}

.form-inputs input {
    border: transparent;
    background-color: white;

    &:hover {
      border-color: 1px solid $purple-light;
    }

    &:focus {
      border-color: $purple-light;
      background-color: white;
    }
  }

body.dark .form-inputs input {
  border: transparent;
  background-color: $medium-gray;

  &:hover {
    border-color: 1px solid white;
  }

  &:focus {
    border-color: white;
    background-color: $medium-gray;
  }
}
