.bg-todo {
  width: 1335px;
  margin-top: 48px;
  background-color: white;
  padding: 16px;
  border-radius: 6px;
}

.task-card {
  width: 400px;
  height: 120px;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
