.bg-todo {
  width: 1200px;
  margin-top: 48px;
  background-color: white;
  padding: 16px;
  border-radius: 6px;
}

body.dark .bg-todo {
  background-color: $dark-card;
}

.task-card {
  width: 300px;
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 4px 6px -1px rgba(15, 23, 42, 0.08);
  border-radius: 4px;
  margin-bottom: 6px;
}

body.dark .task-card {
  background-color: $dark-gray;
}

.colonne {
  height: 250px;
}
